.paymentspage {
    display: flex;
    flex-direction: column;
}

.cards {
    width: 100%;

}

.cards .cards-container {
    position: relative;
}

.cards .back-card {
    max-width: 100%;
    max-height: 100%;
}

.cards .back-card-box {
    min-width: 286px;
    height: 157px;
    position: absolute;
    top: 32px;
    right: 10px;
}

.cards .back-card-box .card-back-cvc {
    color: white;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.286px;
    text-transform: uppercase;
    position: absolute;
    top: 73.64px;
    left: 230.98px;
}

.cards .front-card-box {
    width: 285px;
    height: 156.208px;
    position: absolute;
    top: 126px;
    left: 10px;
    background: linear-gradient(
        50deg,
        rgba(255, 0, 0, 1) 25%,
        rgba(221, 76, 10, 1) 50%,
        rgba(221, 76, 76, 1) 75%
      );
    border-radius: 9px;
}

.cards .front-card {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
    border-radius: 6px;
}

.cards .logos {
    height: 30px;
    flex-shrink: 0;
    position: absolute;
    z-index: 2;
    left: 19px;
    top: 17.6px;
}

.cards .card-numbers {
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.2px;
    position: absolute;
    z-index: 2;
    left: 19px;
    top: 84.6px;
}

.card-holder-name {
    color: white;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.286px;
    position: absolute;
    z-index: 2;
    left: 19px;
    top: 124.6px;
}

.card-date {
    color: white;
    text-align: right;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.286px;
    position: absolute;
    z-index: 2;
    left: 232.11px;
    top: 124.6px;
}

/* form */

.first-form {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 300px 0 0 0;
    padding: 10px;
}

.card-holder {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 9px;
}

.card-holder label {
    color: black;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}

.card-holder input {
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #DFDEE0;
    background: white;
    padding: 20px;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.card-holder input::placeholder {
    opacity: 0.25;
}

.card-number {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 9px;
    margin-top: 20px;
}

.card-number label {
    color: black;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}

.card-number input {
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid  #DFDEE0;
    background: white;
    padding: 20px;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.card-number input::placeholder {
    opacity: 0.25;
}

.cvcdate {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.date-info {
    width: 50%;
}

.date-info label {
    display: block;
    color: black;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}

.date-info #month {
    width: 45%;
}

.date-info #year {
    width: 45%;
    margin-left: 17px;
}

.date-info input {
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #DFDEE0;
    background: white;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding: 10px;
    margin-top: 9px;
}

.date-info input::placeholder {
    opacity: 0.25;
}

.cvc-info {
    width: 45%;
}

.cvc-info label {
    display: block;
    color: black;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}

.cvc-info input {
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #DFDEE0;
    background: white;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding: 15px;
    margin-top: 9px;
}

.cvc-info input::placeholder {
    opacity: 0.25;
}

.first-form button {
    width: 100%;
    height: 53px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #dd4c4c;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-top: 40px;
}

.error {
    color: #FF5050;
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

@media screen and (min-width: 768px) {

    .paymentspage {
        display: flex;
        flex-direction: column;
    }
    
    .cards .back-card {
        max-width: 100%;
        max-height: 100%;
    }
    
    .cards .back-card-box {
        height: 200px;
        top: 30px;
        right: 100px;
    }
    
    .cards .back-card-box .card-back-cvc {
        color: white;
        font-size: 16px;
        letter-spacing: 2px;
        top: 85px;
        left: 280px;
    }
    
    .cards .front-card-box {
        width: 355px;
        height: 200px;
        position: absolute;
        top: 145px;
        left: 100px;
        border-radius: 9px;
    }
    
    .cards .logos {
        height: 35px;
        left: 15px;
        top: 15px;
    }
    
    .cards .card-numbers {
        font-size: 25px;
        letter-spacing: 2.2px;
        left: 15px;
        top: 90px;
    }
    
    .card-holder-name {
        font-size: 13px;
        letter-spacing: 2px;
        position: absolute;
        z-index: 2;
        left: 15px;
        top: 155px;
    }
    
    .card-date {
        font-size: 13px;
        letter-spacing: 2px;
        left: 280px;
        top: 155px;
    }
    
    .first-form {
        margin-top: 400px;
        padding: 10px;
    }
    
    .card-holder {
        gap: 15px;
    }
    
    .card-holder label {
        font-size: 20px;
        letter-spacing: 2px;
    }
    
    .card-holder input {
        height: 60px;
        border: 2px solid #DFDEE0;
        padding: 20px;
        font-size: 20px;
    }
    
    .card-holder input::placeholder {
        opacity: 0.5;
    }
    
    .card-number {
        gap: 15px;
        margin-top: 20px;
    }
    
    .card-number label {
        font-size: 20px;
        letter-spacing: 2px;
    }
    
    .card-number input {
        height: 60px;
        border: 2px solid #DFDEE0;
        padding: 20px;
        font-size: 20px;
    }

    .card-number input::placeholder {
        opacity: .5;
    }
    
    .date-info {
        width: 50%;
    }
    
    .date-info label {
        display: block;
        color: black;
        font-size: 20px;
        letter-spacing: 2px;
    }
    
    .date-info #month {
        width: 48%;
    }
    
    .date-info #year {
        width: 48%;
        margin-left: 10px;
    }
    
    .date-info input {
        width: 100%;
        height: 60px;
        border: 2px solid #DFDEE0;
        font-size: 20px;
        padding: 10px;
        margin-top: 15px;
    }
    
    .date-info input::placeholder {
        opacity: 0.5;
    }
    
    .cvc-info {
        width: 50%;
    }
    
    .cvc-info label {
        color: black;
        font-size: 20px;
    }
    
    .cvc-info input {
        height: 60px;
        border: 2px solid #DFDEE0;
        font-size: 20px;
        padding: 15px;
        margin-top: 15px;
    }
    
    .cvc-info input::placeholder {
        opacity: .5;
    }
    
    .first-form button {
        width: 100%;
        height: 100px;
        font-size: 25px;
        margin-top: 60px;
    }
    
    .error {
        font-size: 16px;
    }

}

@media screen and (min-width: 1024px) {
    .cards .back-card-box {
        right: 200px;
    }

    .cards .front-card-box {
        left: 200px;
    }
}
