.volunteer-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.volunteer-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.volunteer-box form {
    width: 100%;
}

.volunteer-box h1 {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    background-color: rgba(198, 0, 0, .8);
    border: 1px solid rgba(184, 184, 184, 0.8);
    border-radius: 100px;
    padding: 5px;
    text-wrap: balance;
}

.volunteer-box .volunteer-checkbox {
    color: black;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    margin-top: 10px;
}

.volunteer-box .volunteer-checkbox label input {
    margin-right: 5px;
    accent-color: #ff0000;
}

.volunteer-input-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.volunteer-input-box input {
    margin: 5px;
    height: 40px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border:  1px solid rgba(184, 184, 184, 0.8);
    border-radius: 50px;
    padding: 0 0 0 10px;
    color: black;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
}

.volunteer-hr {
    width: 100%;
    height: 2px;
    border: 2px solid red;
    border-radius: 2px;
    margin-top: 10px;
}

.volunteer-box .btn {
    margin-top: 20px;
    width: 100%;
    height: 70px;
    background-color: rgba(255, 0, 0, 0.85);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

@media screen and (min-width: 768px) {
    
    .volunteer-box h1 {
        font-size: 35px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        padding: 10px;
    }
    
    .volunteer-box .volunteer-checkbox {
        color: black;
        font-style: normal;
        font-weight: 200;
        font-size: 20px;
        margin-top: 15px;
    }
    
    .volunteer-box .volunteer-checkbox label input {
        margin-right: 10px;
        accent-color: #ff0000;
    }
    
    .volunteer-input-box {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    
    .volunteer-input-box input {
        margin: 5px;
        height: 60px;
        border:  2px solid rgba(184, 184, 184, 0.8);
        padding: 0 0 0 15px;
        font-weight: 200;
        font-size: 20px;
    }
    
    .volunteer-box .btn {
        margin-top: 20px;
        width: 100%;
        height: 90px;
        background-color: rgba(255, 0, 0, 0.85);
        border-radius: 100px;
        font-size: 35px;
    }

}

@media screen and (min-width: 1024px) {
    
}